.idea/
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Terraform lock files and directories
**/.terraform.lock.hcl
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup